:root {
  --primary-color: #59FEF3;
}

body {
  font: 20px Arial, sans-serif;
}

.navbar {
  background: var(--primary-color);
}

.quem-somos {
  background: #F5F5F5;
}

#quemsomos .padding > h3,
#parceiros .parceiros > h3,
#servicos .servicos > h3{
  font-size: 46px;
}

#quemsomos .padding > h4 {
  margin-top: 10px;
  font-size: 24px;
}

.padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

#parceiros .parceiros > h3,
.bg-footer > p {
  color: #FFF
}

.parceiros {
  background: #713CBD;
}

#servicos .servicos > h3 {
  margin-bottom: 42px;
}

.servicos {
  background: #F5F5F5;
}

.bg-footer {
  padding: .5rem;
  background: #121212;
}

.bg-footer > p {
  font-size: 18px;
}